:host {
    display: block;
}

/* Fix for Material form field unwanted bottom border/line */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

/* Ensure input has no focus outline or unwanted borders */
input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

/* Specifically for Tailwind Forms plugin conflicts */
input[type='text'],
textarea {
    border-color: transparent !important;
    box-shadow: none !important;
}
