:host {
    display: block;
    height: 100%;
}

/* Custom Active State Styling */
.mat-mdc-list-item-activated {
    background-color: var(--mat-sys-secondary-container) !important;
}

.mat-mdc-list-item-activated .mat-icon {
    color: var(--mat-sys-on-secondary-container) !important;
}

.mat-mdc-list-item-activated span {
    color: var(--mat-sys-on-secondary-container) !important;
    font-weight: 600;
}
